body {
  text-align: center;
}

#top {
    background-image: url(../images/the-flatiron-building.png);
}

h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

ul {
  list-style-type: none;
}

ul a {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
